<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Coffee</title>
</head>
<body>
<h1>Add New Coffee</h1>

<!-- Форма для добавления кофе -->
<form th:action="@{/coffees/add}" th:object="${coffee}" method="post">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name" required />

    <label for="price">Price:</label>
    <input type="number" th:field="*{price}" id="price" required />

    <button type="submit">Add Coffee</button>
</form>

<!-- Ссылка для возврата на страницу меню кофе -->
<a href="/coffees">Back to Menu</a>
</body>
</html>
